/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
section {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  /* border: 3px solid red; */
  padding: 10px;
}

h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgba(66, 66, 66, 0.987);
}

p {
  font-size: 1.5em;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  font-weight: 300;
}

video {
  display: block;
  width: 100%;
  object-fit: contain;
}

footer p {
  margin-top: 70px;
  font-size: 1em;
}

#contact .form-label {
  font-size: 1.2em;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header {
  background-color: #5b1569;
  color: white;
  box-shadow: rgba(244, 170, 58, 0.4) 0px 5px, rgba(244, 170, 58, 0.3) 0px 10px,
    rgba(244, 170, 58, 0.2) 0px 15px, rgba(244, 170, 58, 0.1) 0px 20px,
    rgba(244, 170, 58, 0.05) 0px 25px;
}

nav {
  background-color: rgb(91, 21, 105);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

header section#hero {
  /* border: 4px solid greenyellow; */
  text-align: left;
  padding-right: 2em;
  padding: 2em 0 10em;
}

#hero img {
  margin-top: 5em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

header section#hero h1 {
  font-size: 3em;
}

.project-container img {
  display: block;
  margin: 0 auto;
  border: 3px solid red;
}

div.about {
  background-color: #f4aa3a;
  padding: 2em 0;
  box-shadow: rgba(244, 170, 58, 0.4) 0px 5px, rgba(244, 170, 58, 0.3) 0px 10px,
    rgba(244, 170, 58, 0.2) 0px 15px, rgba(244, 170, 58, 0.1) 0px 20px,
    rgba(244, 170, 58, 0.05) 0px 25px;
}

#skills i {
  font-size: 50px;
}

#contact p {
  text-align: start;
}
